#root {
  margin: 0;
  padding: 0;
  text-align: center;
}

.background-image {
  background-image: none;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}

label {
  display: block;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr
}

.canvas {
  pointer-events: none !important;
  position: absolute !important;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}